<!DOCTYPE html>
<hstml lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-light bg-cupcode" th:fragment="header">
        <a class="navbar-brand text-white" href="/">
            <!--<img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
            Cupcode
        </a>
        <a class="btn btn-outline-light mb-3 mb-md-0 ml-md-3"
           href="#">Log out</a>
    </nav>

</body>
</hstml>