<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cupcode</title>
</head>
<body>
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar bg-light mt-3" th:fragment="sidebar">
        <ul class="nav nav-pills flex-column">
            <!--<li class="nav-item">-->
                <!--<a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item">
                <a class="nav-link" href="/admin/personnel">personnel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/customer">customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/partner">partner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/service">service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/product">product</a>
            </li>
        </ul>
    </nav>

</body>
</html>