<!DOCTYPE html>
<html lang="en">
<head>
    <!--<title>personnel</title>-->
</head>
<body>

<div class="card mx-auto border border-left-0 border-right-0 border-top-0 border-bottom-0" style="width: 20rem;" th:object="${personnel}">
    <img class="card-img-top" th:src="@{*{image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" th:text="'FullName : ' + *{name_sername}"></h5>
        <p class="card-text" th:text="'NickName : ' + *{nickname}"></p>
        <p class="card-text" th:text="'Birthday : ' + *{birthday}"></p>
        <p class="card-text" th:text="'Position : ' + *{position}"></p>
        <p class="card-text" th:text="'Tell     : ' + *{tell}"></p>
        <p class="card-text" th:text="'Email    : ' + *{email_per}"></p>
        <p class="card-text" th:text="'Facebook : ' + *{facebook}"></p>
        <p class="card-text" th:text="'Line     : ' + *{line}"></p>
        <p class="card-text" th:text="'Twitter  : ' + *{twitter}"></p>
        <p class="card-text" th:text="'Instagram: ' + *{instagram}"></p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
</div>

</body>
</html>
